
<table class="my-10 border-double border-4 border-gray-500/20">
    <thead>
        <tr>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">L'heure</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Activité</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Etat theorique (defi/competences)</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Potentiel de flow (moy ressentis) / 10</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Categorie</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Niveau de compétences / 5</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Niveau de défi / 5</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Compétent / 5</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Absorbé / 5</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Objectifs clairs / 5</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Controle / 5</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Libre de l'ego / 5</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Libre du temps / 5</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Conditions réussite/échec claires / 5</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Expérience enrichissante / 5</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">De mon initiative</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Niveau energie / 10</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Niveau de bonheur / 10</th>
            <th class="px-2 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase ">Ambiance sociale</th>
        </tr>
    </thead>
    <tbody>
        <% @flow_entries_day.each do |flow_entry| %>
            <tr>
                <td class="py-2 text-center border-b border-gray-200"><%= flow_entry.created_at.localtime.strftime('%H:%M')%></td>
                <td class="py-2 text-center border-b border-gray-200"><%= flow_entry.activity_name %></td>
                <td class="py-2 text-center border-b border-gray-200">
                    <span class="p-1 inline-flex text-xs font-semibold rounded-full <%=color(flow_entry.theorical_state)%> <%=bg(flow_entry.theorical_state)%>"><%=flow_entry.theorical_state%></span>
                </td>
                <td  class="py-2 text-center border-b border-gray-200 "><%= flow_entry.flow_potential/10 %>/10</td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.activity_category %></td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.skill_level + 1 %>/5</td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.challenge_level + 1 %>/5</td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.feeling_competent %>/5</td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.mentally_absorbed %>/5</td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.clear_objectives %>/5</td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.control_situation %>/5</td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.free_from_ego %>/5</td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.free_from_time %>/5</td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.clear_conditions %>/5</td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.great_experience%>/5</td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.is_voluntary? ? "Oui" : "Non" %></td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.energy %><%= "" if flow_entry.energy %>/10</td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.happiness %><%= "" if flow_entry.happiness %>/10</td>
                <td  class="py-2 text-center border-b border-gray-200"><%= flow_entry.social %><%= "" if flow_entry.social %>/5</td>
            </tr>
        <% end %>
    </tbody>
</table>




