
<div class="flex flex-col">
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
      <table class="min-w-full">
        <thead>
          <tr>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Name
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Title
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Status
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Role
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
                </div>
                <div class="ml-4">
                  <div class="text-sm leading-5 font-medium text-gray-900">Bernard Lane</div>
                  <div class="text-sm leading-5 text-gray-500">bernardlane@example.com</div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">Director</div>
              <div class="text-sm leading-5 text-gray-500">Human Resources</div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <span class="p-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                Active
              </span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              Owner
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              <a href="#" class="text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline">Edit</a>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
                </div>
                <div class="ml-4">
                  <div class="text-sm leading-5 font-medium text-gray-900">Bernard Lane</div>
                  <div class="text-sm leading-5 text-gray-500">bernardlane@example.com</div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">Director</div>
              <div class="text-sm leading-5 text-gray-500">Human Resources</div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <span class="p-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                Active
              </span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              Owner
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              <a href="#" class="text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline">Edit</a>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1505503693641-1926193e8d57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
                </div>
                <div class="ml-4">
                  <div class="text-sm leading-5 font-medium text-gray-900">Bernard Lane</div>
                  <div class="text-sm leading-5 text-gray-500">bernardlane@example.com</div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">Director</div>
              <div class="text-sm leading-5 text-gray-500">Human Resources</div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <span class="p-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                Inactive
              </span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              Owner
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              <a href="#" class="text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline">Edit</a>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
                </div>
                <div class="ml-4">
                  <div class="text-sm leading-5 font-medium text-gray-900">Bernard Lane</div>
                  <div class="text-sm leading-5 text-gray-500">bernardlane@example.com</div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap">
              <div class="text-sm leading-5 text-gray-900">Director</div>
              <div class="text-sm leading-5 text-gray-500">Human Resources</div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap">
              <span class="p-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                Inactive
              </span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
              Owner
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
              <a href="#" class="text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="flex flex-col max-w-full">
  <% @flow_entries_by_day.each do |flow_entries_of_day| %>
   <div class="p-6 overflow-x-auto">
    <h2><%= I18n.l flow_entries_of_day[0], format: :long, locale: :'fr' %></h2>
      <table>
        <thead>
          <tr>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">L'heure</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Activité</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Etat theorique (defi/competences)</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Potentiel de flow (moy ressentis) / 10</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Categorie</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Niveau de compétences / 5</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Niveau de défi / 5</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Compétent / 5</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Absorbé / 5</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Objectifs clairs / 5</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Controle / 5</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Libre de l'ego / 5</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Libre du temps / 5</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Conditions réussite/échec claires / 5</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Expérience enrichissante / 5</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">De mon initiative</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Niveau energie / 10</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Niveau de bonheur / 10</th>
            <th class="px-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Ambiance sociale / 5</th>
          </tr>
        </thead>
        <tbody>
          <% flow_entries_of_day[1].each do |flow_entry| %>
            <tr>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.created_at.strftime('%H:%M')%></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.activity_name %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200">
                <span class="p-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                  <%= flow_entry.theorical_state %>
                </span>
              </td>
              <td  class="px-6 py-4 text-center border-b border-gray-200 "><%= flow_entry.flow_potential/10 %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.activity_category %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.skill_level + 1 %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.challenge_level + 1 %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.feeling_competent %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.mentally_absorbed %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.clear_objectives %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.control_situation %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.free_from_ego %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.free_from_time %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.clear_conditions %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.great_experience %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.is_voluntary? ? "Oui" : "Non" %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.energy %> <%= "" if flow_entry.energy %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.happiness %>  <%= "" if flow_entry.happiness %></td>
              <td  class="px-6 py-4 text-center border-b border-gray-200"><%= flow_entry.social %> <%= "" if flow_entry.social %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>  
  <% end %>
</div>



